db
incremental_db
simulation
work
bitcoin_hash.cr.mti
bitcoin_hash.mpf
bitcoin-hash.cr.mti
bitcoin-hash.mpf
bitcoin_hash.qpf
bitcoin_hash.qsf
bitcoin_hash.qws
bitcoin_hash.sv.bak
simplified_sha256.sv.bak
tb_bitcoin_hash.sv.bak
transcript
vsim.wlf
output_files/bitcoin_hash.done
output_files/bitcoin_hash.fit.smsg
output_files/bitcoin_hash.jdi
output_files/bitcoin_hash.map.rpt
output_files/bitcoin_hash.sld
output_files/bitcoin_hash.sof
output_files/bitcoin_hash.sta.summary
output_files/bitcoin_hash.flow.rpt
output_files/bitcoin_hash.pin
output_files/bitcoin_hash.map.smsg